<footer>
    <div class="footer-socials">
        <a href="https://github.com/JoshuaAlvarado-hub" target="_blank" aria-label="GitHub Profile">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/joshua-brian-alvarado" target="_blank" aria-label="LinkedIn Profile">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="{{ '/contact/' | relative_url }}" aria-label="Contact Page">
            <i class="fas fa-envelope"></i>
        </a>
    </div>
    <p class="footer-text">Designed by Joshua Alvarado</p>
</footer>