<header>
  <nav>
    <!-- logo -->
    <div class="nav-left">
      <a href="{{ '/' | relative_url }}" class="logo">Joshua Alvarado</a>
    </div>

    <!-- menu button -->
    <button class="menu-button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="menu">
      <i class="fas fa-bars"></i>
    </button>

    <!-- nav items -->
    <ul id="nav-items" class="nav-items">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/resume/' | relative_url }}">Resume</a></li>
      <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/about/' | relative_url }}">About</a></li>
      <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
    </ul>

    <div class="nav-right">
        <!-- auth buttons -->
        <div id="auth-buttons" class="auth-buttons">
          <a href="#" id="login-btn" class="btn-auth">Sign in</a>
          <a href="#" id="logout-btn" class="btn-auth logout" style="display:none;">Logout</a>
        </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const loginBtn = document.getElementById("login-btn");
    if (loginBtn) {
      const currentPage = window.location.href;
      loginBtn.href = `https://api.joshalvarado.com/auth/google?redirect=${encodeURIComponent(currentPage)}`;
    }

    const logoutBtn = document.getElementById("logout-btn");
    if (logoutBtn) {
      const currentPage = window.location.href;
      logoutBtn.addEventListener("click", (e) => {
        e.preventDefault();
        window.location.href = `https://api.joshalvarado.com/logout?redirect=${encodeURIComponent(currentPage)}`;
      });
    }
  });
</script>
